body {
  background: url(header-image.jpg) no-repeat;
  background-size: 100%;
  background-color: #FFF;
  margin: 0px;
  padding: 0px;
  color: #FFF;
}

h1 {
  font-family: Century Gothic;
  font-size: 72px;
  text-align: center;
}

p {
  font-family: Century Gothic;
  font-size: 36px;
  text-align: center;
  color: #FFF;
}

.page-header {
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

}

.page-footer {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-main {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
}

.about-me {

}

.empty-space {
  display: block;
  width: 100%;
}



