body {
  background: url(header-image.jpg) no-repeat;
  background-size: 100%;
  background-color: #FFF;
}

h1 {
  font-family: Century Gothic;
  font-size: 72px;
  text-align: center;
  color: #FFF;
}

p {
  font-family: Century Gothic;
  font-size: 36px;
  text-align: center;
  color: #FFF;
}

.center {
  width: 100%;
  padding: 10px; 
  margin: auto; 
  margin-left: -12px;
  background: #000;
  opacity: .5;
   }

.logo {
  width: 50%;
  opacity: .5;
  background: #000;
  margin-left: -12px;
}




